<navbar></navbar>
<div ng-if="toState.name === 'game-home'" id="game-home" class="game-state game-home" ng-class="{'game-state-chat': chatFocused, 'game-state-chat-ipad': chatFocused && isMobile.ipad(), 'game-state-table-mobile': tableFocused && isMobile.sizeLessThan768(),'game-state-tablet-portrait': isMobile.ipad()}">
	<div class="left-panel" id="left-panel" ng-class="{'left-panel-ipad': isMobile.sizePortrait() && isMobile.ipad()}">
		<div ng-if="tableFocused && isMobile.sizeLessThan768()" class="loading-mask loading-mask-transparent loading-mask-absolute"></div>
		<div id="game-container" class="game-container">
			<div class="game-controls">
				<form class="game-form">
					<div class="form-control">
						<!-- <span class="form-control-label">Bet</span> -->
						<span class="form-control-inner">
								<input  class="bet-amount form-control-input" type="text" ng-model="bet.amount"/><span class="form-control-units"><img src="img/burstcoin.png"/></span>
						</span>
					</div>
					<!-- <div class="form-control">

						<span class="form-control-label">Stop@</span>
						<span class="form-control-inner">
							<input class="auto-cashout form-control-input" type="text" ng-model="bet.autoCashout"/><span class="form-control-units">X</span>
						</span>
					</div> -->
				</form>
				<div class="game-buttons">
					<a ng-click="handleBetButton();" class="btn btn-bet-now" ng-bind="betText()" ng-class="{'cashout-manual': data.betText === 'CASHOUT'}"></a>
					<!-- <a ng-click="focusAuto();" class="btn btn-bet-auto">AUTO / SCRIPT</a> -->
				</div>
			</div>
			<konva-canvas id="konva-canvas" ng-class="{'konva-canvas-firefucked': isMobile.Firefucked()}"></konva-canvas>
			<div class="bottom-panel" ng-class="{'bottom-panel-firefucked': isMobile.Firefucked()}">
				<div class="list-tabs">
					<!-- <div class="btn btn-tab" ng-click="data.currentView = 'settings';"><i class="fa fa-cog"></i></div> -->
					<div class="btn btn-tab visible-md" ng-click="data.currentView = 'players';"><span>Players</span></div>
					<div class="btn btn-tab" ng-click="data.currentView = 'chat';"><span>Chat</span></div>
					<div class="btn btn-tab" ng-click="data.currentView = 'history';"><span>History</span></div>


				</div>
				<div class="bottom-panel-content" ng-class="{'bottom-panel-content-firefucked': isMobile.Firefucked(), 'bottom-panel-content-edge': isMobile.Edge()}">
					<div class="game-info player-list" ng-if="data.currentView === 'players'">
						<table>
							<tr><th>Player</th><th>Stake</th><th>Bonus</th><th>Profit</th></tr>
							<tr ng-repeat="player in PLAYERS"><td ng-bind="player.name"></td><td ng-bind="player.satoshiBet | cryptovalue"></td><td ng-bind="player.bonus"></td><td ng-bind="player.satoshiWon-player.satoshiBet | cryptovalue | profit:player"></td></tr>
						</table>
					</div>
					<div class="game-info game-history" ng-if="data.currentView ==='history'">
						<div class="game-details" ng-show="gameDetails">
							<h3 class="cursor-pointer text-underline padding-10" ng-click="hideGame()">< Back</h3>
							<pre>{{gameDetails}}</pre>
						</div>
						<table  ng-show="!gameDetails">
							<tr>
								<th>Crash</th>
								<th>@</th>
								<th>Stake</th>
								<th>Bonus</th>
								<th>Profit</th>
								<th></th>
							</tr>
							<tr ng-repeat="round in roundHistory">
								<td ng-bind="round.result | bits"></td>
								<td ng-bind="round.cashoutMultiplier | bits"></td>
								<td ng-bind="round.satoshiBet | cryptovalue"></td>
								<td ng-bind="round.bonus | cryptovalue"></td>
								<td ng-bind="round.satoshiWon-round.satoshiBet | cryptovalue | profit:round"></td>
								<td class="cursor-pointer text-underline" ng-click="viewGame(round)">More...</td>
							</tr>
						</table>
					</div>
					<div class="game-info game-settings" ng-if="data.currentView === 'settings'">
						GAME SETTINGS (coming soon)
					</div>
					<div class="chat-container" ng-show="data.currentView === 'chat'">
						<div class="chat-window" id="chat-window">
							<div ng-repeat="chat in chats" class="chat-item">
								<span class="chat-time">{{chat.timestamp}}</span>
								<span class="chat-username">{{chat.username}}</span>
								<span class="chat-text">{{chat.text}}</span>
							</div>
						</div>
						<div class="chat-type" ng-show="USER">
							<form ng-submit="sendChat();">
								<div class="form-control">
									<div class="form-control-inner">
										<input autocomplete="off" autocapitalize="off"  id="chat-input" name="chat" type="text" ng-focus="focusChat();" ng-blur="blurChat();" ng-model="chatForm.chat"/>
										<span ng-click="sendChat();" class="form-control-units chat-send-button">
										^
										</span>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="left-panel right-panel" id="right-panel" ng-class="{'right-panel-ipad': isMobile.sizePortrait() && isMobile.ipad()}">
		<div class="game-container">
			<div class="bottom-panel">
				<div class="bottom-panel-content" ng-class="{'bottom-panel-content-firefucked': isMobile.Firefucked()}">
					<div class="player-list">
						<table>
							<tr><th>Player</th><th>Stake</th><th>Bonus</th><th>Profit</th></tr>
							<tr ng-repeat="player in PLAYERS"><td ng-bind="player.name"></td><td>{{player.satoshiBet | cryptovalue}}</td><td ng-bind="player.bonus"></td><td>{{player.satoshiWon-player.satoshiBet | cryptovalue | profit:player}}</td></tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
