<div class="container-flex">
<navbar></navbar>
<div class="game-state">
	<div class="game-state-block-container overflow-scroll flex-row flex-xs-100-sm-50">
		<div class="flex-col">
<!-- 			<div class="logo">
				<img class="center-block img-responsive" src="img/logo-sm.png"/>
			</div> -->
			<login></login>
		</div>
		<signup class="flex-col"></signup>
	</div>
</div>
</div>