<navbar></navbar>
<div class="game-state">
  <div class="game-state-block-container">
    <h1>User Profile</h1>
    <div class="player-info player-info-mobile">
    <div class="player-name">
      <span><a href="https://gravatar.com" target="_blank"><img gravatar-src="USER.email" gravatar-size="100"></a></span>
      <span class="text" ng-bind="USER.roles.account.name">{{USER.roles.account.name}}</span>
    </div>  
    </div>
    <h4>Username: {{USER.username}}</h4>
    <h4>Email: {{USER.email}}</h4>
    <h4 ng-if="ACCOUNT.withdrawWallets | withdrawAddress:'bitcoin'">Bitcoin Address: {{ACCOUNT.withdrawWallets | withdrawAddress:'bitcoin'}}</h4>
    <h4 ng-if="ACCOUNT.withdrawWallets | withdrawAddress:'burstcoin'">Burstcoin Address: {{ACCOUNT.withdrawWallets | withdrawAddress:'burstcoin'}}</h4>
    <changeaddress></changeaddress>
    <br/><br/><br/>
    <changedetails></changedetails>
    <br /><br /><br />
    <changepassword></changepassword>
  </div>
</div>
