
@zenburn-fg: #DCDCCC;
@zenburn-bg: #8f8f8f;
@black: #0d0d0d;
@white: #f3f4f4;
@grey1: #8a9196;
@grey2: #7a8288;
@grey3: #70787d;
@fadegrey1: fade(@grey1,70%);
@fadegrey2: fade(@grey2,70%);
@fadegrey3: fade(@grey3,70%);
@black2: #2d2d2d;
@black3: #3d3d3d;
@btnBorder1: #990000;
@btnBorder2: #999000;
@btnBorder3: #009900;
@btnBorder4: #0000ff;
@btnBorder5: #ff9900;

@green1: #78cc78;
@green2:  #62c462;
@green3: #53be53;
@blue2: #9db0bf;
@blue2b: #8da0af;
@blue2c: #7d909f;
@blue1: #4e9eba;
@blue1b: #3e8eaa;
@blue1c: #2e7e9a;
@blue3: #22373f;
@red1: #f17a77;
@red2: #ee5f5b;
@red3: #ec4d49;
@orange1: #faa123;
@orange2:  #f89406;
@orange3:  #e48806;
@purple1: #9933cc;
@purple2: #8822bb;
@purple3: #7711aa;

@yellow1: #999000;
@yellow2: #888000;
@yellow3: #777000;
span[class^='skype_pnh_container'] {display:none !important;}
span[class^='skype_pnh_print_container'] {display:inline !important;}
.background (@firstColor: @fadegrey1, @secondColor: @fadegrey2, @thirdColor: @fadegrey3) {
  background-color: @firstColor;
  background-repeat: no-repeat;
  -webkit-filter: none;
  filter: none;
  color: @white;
  border: 0px;
  position:relative;
  border:1px solid @thirdColor;
  &:hover {
    background-color: @secondColor;
    transition: background-color 1s, border 1s;
  }

}
.tiny {
  font-size: 10pt;
}
.padding-10 {
  padding: 10px;
}
.margin-20-0 {
  margin:20px 0px;
}
.hidden-xs {
  @media (max-width: 767px) {
    display:none;
    visibility:hidden;
  }
}
.visible-md {
  display: inherit;
  visibility: inherit;
  @media (min-width: 990px) {
    display:none!important;
    visibility:hidden!important;
  }
}
.visible-xs {
  display: inherit;
  visibility: inherit;
  @media (min-width: 768px) {
    display:none!important;
    visibility:hidden!important;
  }
}
.qrcode {
  width: 200px;
  display:block;
  margin:20px auto;
}
table {
  color: @white;
  border-collapse: collapse;
  &.stats {
    font-size: 16px;
  }
  border:1px solid @black;

  tr td, tr th {
  padding: 3px;
  border:1px solid @black;
  text-align:left;
  }
  width:100%;
  margin:0px;
  padding:0px;

  background-color: rgba(0,0,0,0.6);

}

.flexRow () {
    display:flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;          
}
.flexCol () {
    display:flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: nowrap;       
}
.overflow-scroll {
  overflow-y: scroll;
  overflow-x:hidden;
  -webkit-overflow-scrolling: touch; /* Enable touch scrolling in webkit browsers */
  &::-webkit-scrollbar {
      width:0 !important;
  }
}


html, body {
    font-family: Dosis, "Arial Narrow", "Helvetica Condensed", Arial, Helvetica, sans-serif;
    font-size:14px;
    width: 100%;
    height:100%;
    margin: 0px;
    padding: 0px;
    background-color: @blue3;
    color: @white;
}
body {
   &.game {
     .flexCol();
   } 
}
.input () {
  .background(fade(#333,40%),fade(#111,60%),fade(#000,60%));
  flex-shrink: 1;
  flex-grow: 0;
  color: @white;
  border:1px solid lighten(@blue1,20%);
  padding: 4px;
  font-size: 16px;
  border-radius: 2px;
}
input { .input; }
form {
  margin:0px;
  padding: 0px;
  .form-control () {
    padding: 5px;
    flex-grow: 1;
    .flexRow();
    align-items: center;
    .form-control-label {
      margin-right: 10px;
      flex-shrink: 1;
      flex-grow: 0;
    }
    .form-control-inner {
      padding: 0px;
      .flexRow();
      flex-grow: 1;
      flex-shrink:1;
      .background(fade(#333,40%),fade(#111,60%),fade(#000,60%));
      color: @white;
      background-color: transparent;
      border:1px solid lighten(@blue1,20%);
      border-radius: 2px;
      font-size: 16px;


      .form-control-input {
        .input;
        border:0px;
        background-color: transparent;
        max-width: 90px;
        @media(min-width: 990px) {
          max-width: 110px;
        }
      
        flex-basis: 70%;
        flex-shrink: 0;
      }
      .form-control-units {
        padding: 4px;
        flex-shrink: 1;
        flex-grow: 1;
        text-align:center;
        .background(fade(#666,40%),fade(#888,60%),fade(#777,60%));        
      }
    }
  }
  .form-control {
    .form-control();
  }
  .btn-submit {
    font-weight:bold;
    font-size: 20px;
    width: 280px;
    margin: 10px 0px;
    word-wrap: normal;
    @media (max-width: 768px) {
      margin:10px auto;
    }
    height: auto;
    white-space:normal;
  }

  .form-group {
    .flexRow();
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px auto;
    :first-child {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      margin:5px auto;
    }
    input:nth-child(2) {
      flex-basis: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      margin:5px auto;
    } 
  }
}
.alert {
  &.alert-danger {
    background-color: darken(@red1,30%);
  }
  color: #FFF;
  padding: 10px;

}
.img-responsive {
  width: 100%;
}
.center-block {
  display:block;
  margin:0px auto;
}
.hoverable-button () {
    background: none;
    background-color: lighten(@blue1,10%) !important;
    transition: all 1s;
}
.cursor-pointer {
  cursor:pointer;
}
.text-underline {
  text-decoration: underline;
}
.btn,.button {
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px auto;
  font-size: 15px;
  text-decoration:none;
  cursor:pointer;
  text-align:center;
  .background(@black,@blue2, @black3);


  border:1px solid @orange1;
  &.btn-default {

  }
  &.btn-secondary {
    .background(@orange3,darken(@orange2,20%),@orange3);
    border:1px solid @black;
  }

  &.btn-lg {
    font-size: 20px;
  }

  &.close {

  }

}

a, a:link, a:visited, a:active {
  color: @white;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.loading-mask {
  position: fixed !important;
  top:0;
  left:0;
  z-index:13;
  color:@white;
  padding:0px;
  .flexRow();  flex-wrap : wrap;
  background-color: @black;
  background-size: cover;
  height: 100%;
  width: 100%;
  .loading-logo {
      img {
        height: 250px;
        display:block;
        margin:0px auto;
      }
      flex-basis: 100%;
  }
  .loading-content {
    padding:20px;  
    flex-basis: 100%;
  }

  h2,h4,.loading-tip {

    .background(fade(#555,40%),fade(#111,80%),fade(#000,80%));
    padding:15px;
  }
  h2 {
  font-size: 40px;
  text-align:center;
  flex-basis: 100%;

  }
  h6 {
  font-size: 15px;
  }
  .loading-tip {
    .background(fade(#555,40%),fade(#111,80%),fade(#000,80%));
    padding:5px;
  }
  &.reload-directive {
    background-color: fade(@red3,90%);
    background-image: none;
  }

  &.loading-landscape {

    background-position: 50% 90%;
    align-items: center;
    align-content: center;
    .loading-logo {
      flex-basis: 50%;
    }
    .loading-content {
      flex-basis: 45%;
    }
  }
  &.loading-mask-absolute {
    position: absolute !important;
  }
  &.loading-mask-transparent {
    background-image: none;
    .background(fade(#000,50%),fade(#000,50%),fade(#000,50%));
  
  }
  &.loading-mask-navbar {
    z-index: 11;
    background-color:transparent!important;
  }
}

.nav, .pagination, .carousel, .clickable, .panel-title a { cursor: pointer; }
.wordbreak {
  word-wrap: break-word;
  width: 100%;
}
.font-12 {
  font-size: 12pt;
}
.text-orange {
  color: @orange1;
}
.text-blue {
  color: @blue1;
}
.text-purple {
  color: @purple1;
}
.text-yellow {
  color: @yellow3;
}
.text-green {
  color: @green1;
}
.text-bold {
  font-weight: bold;
}
.monospaced {
    font-family: "Nova Mono", monospace, Courier New, Courier, Fixed;
}


.info() {

  .flexRow();

  position:relative;
  .text {
    font-size: 16px;
  }
  .num {
    font-size: 24px;
    padding: 0px 5px;
  }
}

.icon {
  position:relative;
  padding-right: 2px;
  img {
    width: 24px;
    position:relative;
  }
  &.icon-person {
    top:-4px;
  }
  &.icon-xp {
    top:-3px;
  }
  &.icon-dollar {
    top:-3px;
  }
  &.icon-level {
    top:-3px;
  }
}


    navbar {
      flex-shrink: 1;
      flex-grow: 0;
      width: 100%;
      max-height: 38px;
      z-index: 12;

      background-color: @blue1;
      margin-bottom:0px !important;
      font-size: 18px;
      @media (max-width:990px) {
        font-size: 16px;
      }
      nav {
        width: 100%;
        z-index: 12;

        .flexRow();
        align-content: center;
        align-items: center;
        .navbar-header {

          flex-basis: 100%;
          .flexRow();
          align-items: center;
          align-content: center;
          .header-link {
            margin:0px 15px;
          }
          .header-text {
            margin: 0px 15px;
          }
          .btn {
            margin: 0px 5px;
            font-size: 15px;
            @media (max-width: 568px) {
              font-size: 12px;
            }
          }
          .logo-small {
            padding: 5px;
            img {
              height: 28px;

              @media (max-width: 320px) {
                height: 28px;
              }
            }
            flex-grow: 0;
          }
          .navbar-brand {
            flex-grow: 0;
          }
          .navbar-space {
            flex-grow: 1;
          }
          .navbar-toggle-custom {

            border:0px;
              .background(lighten(@black,5%), @black, lighten(@black,10%));

            flex-grow: 0;
            margin-right:5px;
            height:33px;
            @media (min-width:0px) {
                display: block;
            }
            #mobile-menu-toggle {
              font-size:30px;
              margin:-12px 0px;
            }
            img {
              width: 20px;
              display:block;
              margin: 0px auto;
              fill: @white;
            }
          }
          .player-info {
            flex-grow: 1;
          }
          .player-details {
            background-color: black;
            border: 1px solid #faa123;
            padding: 3px 10px;
            .players-details-username {
              margin-right: 12px;
            }
            .players-details-balance {
              margin-left: 12px;
            }
          }
        }
      }
      .collapse-menu {
        position: absolute !important;
        z-index:20;
        top:50px;
        .background(fade(@blue1,90%),fade(@blue1b,90%),fade(@blue1c,90%));
        width: 99%;
        left:0;
        z-index:12;
        flex-basis: 100%;
        font-size:18px;
        margin:0px;

        ul  {
          margin: 0;
          padding: 0;
          li {
            list-style: none;
            .flexRow();
            flex-wrap: wrap;
            a {
              padding: 10px 10px;
              flex-basis: 100%;
              color: @white;
                text-decoration: none;
              &:hover {
                background-color: @black;
                transition: background-color 1s;
              }
            }

          }
        }  
      }
    }


.container-custom {
  .flexCol();
  flex-basis: 100%;
  padding: 0px 0px;  
  margin: 0px 0px;


  .logo {
    img {
      width: 300px;
      margin:0px auto;
    }
  } 
  .container-flex {
    .flexCol();

    flex-basis: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;





    .player-info {
      .flexRow();
      flex-wrap: wrap;
      margin: 0px;
      div {
        .info;
        flex-basis: 35%;
        @media (min-width: 568px) {
          flex-basis: 25%;
        }
        @media (min-width: 993px) {
          flex-basis: 12%;
        }
        padding: 0px 2px;
        display: inline-block;
        flex-grow: 1;
        &.player-info-heat {
          top: -6px;
          overflow:hidden;
          height: 30px;
        }
      }
      &.player-info-mobile {
        div {
          margin: 5px auto;
          flex-basis: 25%;
          &.player-name {
            flex-basis: 100%;
            .flexRow();
            align-items: center;
            justify-content: flex-start;
            .text {
              padding: 0px 15px;
              font-size: 18px;
              font-weight:bold;
              word-wrap: break-word;
            }
          }
        } 
      }


    }  
    .panel-border() {
      border:1px solid @blue2; 
    }
    .info-container{
      padding: 10px;
    }


    .game-state {
      flex-grow: 1;
      flex-basis: 90%;
      z-index: 11;
      .flexRow();
      align-content: stretch;
      align-items: stretch;

      flex-wrap: nowrap;
      position:relative;  

      .game-state-block-container {
        &.flex-row {
          .flexRow();
          flex-wrap: wrap;
        }
        &.flex-xs-100-sm-50 {
          .flex-col {
            flex-basis: 100%;
            @media (min-width: 769px) {
              flex-basis: 50%;
              flex-grow: 1;
              flex-shrink: 1;
              padding: 0px 20px;
            }
          }
        }
        width: 95%;
        @media (min-width: 991px) {
          width: 60%;
        }
        padding: 10px 20px;
        @media (max-width: 991px) {
          padding: 5px;
        }

        margin:0px;
      }

      .deposit-address {
        text-align:center;
        margin-top:30px;
      }


      .left-panel {
        .flexCol();
        flex-wrap: nowrap;
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        @media(min-width: 990px) {
          flex-basis: 55%;
        }
        .game-container {
          .flexCol();
          flex-grow: 1;
          flex-shrink: 1;
          position:relative !important;

          overflow:hidden;
          konva-canvas {
            flex-basis: 50%;
            @media (min-width: 990px) {
              flex-basis: 50%;
            }       
            flex-shrink: 1;
            flex-grow: 0;
            .flexCol();
            z-index: 0;
            overflow:hidden;
            #game-canvas {

              .konvajs-content {
                background: #111;
                width: 100% !important;
                height: auto !important;
                padding-bottom: 56.25%; // height/width*100%;
                canvas {
                    width: 100% !important;
                    height: 100% !important;
                }

              }
            }
            &.konva-canvas-firefucked {
              max-height: 35vh;
              #game-canvas {
                .konvajs-content {

                  canvas {
                  }
                }

              }
            }             
          }
          .game-controls {
            flex-basis: 12%;
            max-height: 70px;
            background-color: transparent;

            @media (min-width: 990px) {
              flex-basis: 12%;
            }            
            flex-grow: 1;
            flex-shrink: 1;
            .flexRow();
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .panel-border;
            border-left:0;
            border-right:0;

            .game-buttons {

              flex-basis: 50%;
              @media (min-width: 990px) {
                flex-basis: 40%;
                .flexRow();
                align-items: center;
              }                        
         
              .btn-bet-now {
                /*
                          ths when you place a bet:
                background-color: #51924a;
                border: 1px solid #8BC34A;
                this when you don't place a bet, so on default;
                background-color: #9E9E9E;
                border: 1px solid #607D8B;
                when you don't have enough balance:
                background-color: #2d2d2d;
                border: 1px solid #607D8B;
                */
                display:block;
                font-size: 20px;
                height: 35px;
                .background(@black,darken(@blue1,20%),@blue1c);
                border:0;   
                font-size: 33px;
                margin: 10px;
                &.cashout-manual {
                  line-height: 38px;
                  font-size: 20px;
                }   
                min-width :120px;

              } 
              .btn-bet-auto {
                display:block;
                .background(darken(@blue1c,30%),@blue1,@blue1);
                font-size: 16px;
                margin: 10px;
                &:hover {
                  .hoverable-button;
                }
              }                

            }
            .game-form {
              flex-basis: 50%;
              flex-grow:1;
              flex-shrink:1;
              .flexCol();
              max-width: 160px;
              @media (min-width: 990px) {
                .flexRow();

                .form-control {
                  flex-basis: 50%;
                  flex-shrink: 1;
                  flex-grow: 1;
                }
              }
              .form-control {
                .form-control-inner {

                  .auto-cashout {
                    width: 30px;
                  }
                  .form-control-units {
                    img {
                      height: 28px;
                    }
                  }                  
                }
              }
            }
          }
          .bottom-panel {
            .flexRow();
            flex-basis: 28%;
            flex-grow: 1;
            flex-shrink: 1;

            .panel-border;
            border-left:0;
            border-right:0;
            .list-tabs {
              flex-shrink: 1;
              flex-grow: 0;
              .flexCol();
              .btn-tab {
                margin:0;
                padding: 0px 5px;
                .flexRow();
                align-items: center;
                font-size: 15px;
                flex-grow: 1;
                flex-shrink: 1;
                &:hover {
                  .hoverable-button;
                }
                .background(@blue1c,@blue1b,@black);
                color: @white;
                span {
                  /*
                  transform: rotate(270deg);
                  -webkit-transform: rotate(270deg);
                  -moz-transform: rotate(270deg);
                  -ms-transform: rotate(270deg);

                  -o-transform: rotate(270deg);

                  transform-origin: 100% 100%; */               
                }
                i {
                  font-size: 20px;
                }

              }
            }      

            .bottom-panel-content {
              

              flex-grow: 1;
              flex-shrink: 1;

              .flexRow();
              width: 280px;

              &.bottom-panel-content-firefucked {
                height: 45vh;

              }
              &.bottom-panel-content-edge {
                height: 50vh;

              }

              .chat-container {
  
                .flexCol();
                flex-grow: 1;
                flex-shrink: 1;

                justify-content: flex-start;
                .chat-window { 
                  margin: 5px;
                  .overflow-scroll();
                  flex-grow: 1;
                  .chat-item {
                    /* For Firefox */
                    word-break: break-all;
                 
                    .chat-time {
                      color:@fadegrey2;
                    }                  
                    .chat-username {
                      font-weight:bold;
                      color: @blue1b;
                      &::after {
                        content: ': '
                      }
                    }
                    .chat-text {
                      color:@white;
                      /* For Chrome and IE */
                      word-wrap: break-word;                      
                    }
                  }
                }
                .chat-type {
                  flex-grow: 0;
                  flex-shrink: 0;
                  form {
                    #chat-input {
                      flex-grow: 1;
                    }
                    .chat-send-button {
                      flex-grow: 0;
                      cursor:pointer;
                      font-weight: bold;
                      font-size: 30px;
                      line-height: 0.4em;
                      padding-top: 10px;
                      width: 30px;
                      &:hover {
                        .hoverable-button;
                      }

                    }
                  }
                }      
              }
              .game-info {
                flex-grow: 1;
              }
              .game-history {
                .overflow-scroll();
                table {
                  width: 100%;
                }
              }              
            }                

          }
        }
        &.left-panel-ipad {
          .game-container {

            konva-canvas {
              flex-basis: 46%;
            }
            .game-controls {
              flex-basis: 12%;
            }
            .bottom-panel {
              flex-basis: 42%;

            }
          }
        }
      }

      .right-panel {

        @media (min-width: 990px) {
          display:flex;
        }
        @media (max-width: 989px) {
          display:none;
        }
        flex-basis: 44%;


        .panel-border;
        .game-container {
          padding: 5px;
          .bottom-panel {
            border: 0px;
            .bottom-panel-content {
              &.bottom-panel-content-firefucked {
                height: 89vh;
              }            
              padding: 0;
              div {
                flex-basis: 100%;
              }
            }
          }
        }
      }
      &.game-state-tablet-portrait {
        .left-panel {
          .game-container {
            konva-canvas {
              #game-canvas {
                .konvajs-content {
                  padding-bottom: 100% !important;
                  canvas {
                  }
                }
              }
            }
          }
        }
      }

      &.popover {
        z-index: 2;
        &.sell-popover,&.drop-popover {
          z-index:3;
        }
        position: fixed !important;
        display:block;
        width: 100%;
        margin:0px auto;
        height: 100%;
        top: 0; 
        left: 0;
        background-color:@black;

        .btn {
          flex-basis: 32% !important;
          &.btn-equip-overlay {
            flex-basis: 100% !important;
          }
        }
      }

      .info {
        .info;
      }
      



      .header {
        flex-basis: 100%;
        border-radius: 10px;
        .background(fade(#000,80%),fade(#111,70%),fade(#000,80%));
        margin:0px auto;
        padding:0px 10px;
        .prompt {
          text-align:center;
        }
      }

      .show-events {
        flex-basis: 100%;
        .event {
          border-radius: 5px;
          .background(@red1,@red2,@red3);
          padding:0px;
          margin:0px auto;
          text-align:center;
          font-size: 18px;
        }
        padding:0px 20px;
      }
      .show-event-choices {
        flex-basis: 100%;
      }
      .event-status {
        flex-basis: 100%;
        text-align:center;
        font-size: 18px;
        color: #ff0000;
        font-weight:bold;
        text-transform: uppercase;
        animation: blink 2s infinite;
        @keyframes blink {
          0% {
            opacity: 0;
          } 50% {
            opacity: 1;
          } 100% {
            opacity: 0;
          }
        }
      }


      &.game-state-chat {

        .left-panel {
          .game-container {

            .game-controls {
              display: none;
            }
            konva-canvas {
              position:absolute;
              z-index:-1;
            }
            .bottom-panel {
              position: absolute;
              z-index: 0;
              top:0;
              left:0;
              height: 100%;
              width: 100%;
            }
          }

        }
        .right-panel {
          display:none;
        }

        &.game-state-chat-ipad {

          height: 60%;
        }
      }



      .btn-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        padding:0px;
        margin:0px;
        flex-grow: 1;

        .btn,span {
          white-space: normal !important;
          display: flex;
          flex-direction: column;
          background-size: 100% auto;
          background-repeat: no-repeat;      
          flex-basis: 20%;

          font-size:15px;
          margin: 0px auto;
          text-transform: capitalize;
          .kb {
            &::before {
              content: "[ ";
            }
            &::after {
              content: " ]";
            }
            font-size:12px;
            padding:10px;
            @media (max-width: 768px) {
              display:none;
            }
            top: -5px;
            position:relative;
          }
          &.btn-item-type-list {
            flex-basis: 80%;
            .background();
            font-size: 26px;
          }
          &.btn-item-list {
            flex-basis: 80%;
            .background();

            font-size: 18px;
            margin: 20px auto; 
            .price {
              font-size:22px;
              font-weight: bold;
            }
            .description  {
              font-size: 14px;
            }
          } 
          &.btn-item-buy {
            flex-basis: 80%;
            .background(@blue1,@blue1b,@blue1c);

            font-size: 18px;
            margin: 20px auto; 
            .price {
              font-size:22px;
              font-weight: bold;
            }
          }                      
          &.btn-clear-events {
            flex-basis: 22%;
            .background(@blue1,@blue1b,@blue1c);
            font-size: 20px;
          }
          &.btn-powerup {
            flex-basis: 100%;
            @media (min-width: 568px) {
              flex-basis: 48%;
            }
            @media (min-width: 768px) {
              flex-basis: 32%;
            }
            .background(fade(#333,40%),fade(#000,80%),fade(#444,60%));
            font-size: 18px;
            .icon-siren {
              height: 35px;
              overflow:hidden;
            }
          }
        
          &.btn-equip-overlay {
            flex-basis: 100%;
            font-size: 20px;

            margin:20px auto;
            .background(); 
          }          
          &.btn-cancel {
            margin:20px auto;
            font-size:26px;
            .background(darken(@orange1,30%),@orange2,@orange3);            
          }

          &.btn-tx {
            font-size:26px;
            margin:10px auto;
          }

        }
        &.quick-list{
          .header {
            text-align:center;
          }
          margin-top:10px;
          flex-basis: 100%;
          display:flex;
          flex-direction: row;   
          flex-wrap :wrap;
          .list-item {
            text-align:left;
            
            font-size:11px;
            @media (min-width: 568px) {
              font-size: 16px;
            }
            .background(fade(#000,80%),fade(#111,70%),fade(#000,80%));

            margin:0px;
            padding:5px;
            &.item-selected {
              .background(@red1,@red2,@white);
              color:@white;
            }

          }      
        }

      }

    }


  }
}


