<navbar></navbar>
<div class="game-state">
	<div class="game-state-block-container">
		<h2>Cashier</h2>

		<h3>My Balance</h3>
		<div class="balance">{{ACCOUNT.withdrawWallets | balance:'burstcoin'}} BURST</div>
		<button class="btn btn-default" ng-click="withdraw()" ng-disabled="buttons.withdrawDisabled">Withdraw</button>
  	<h4 ng-if="ACCOUNT.withdrawWallets | withdrawAddress:'burstcoin'">Burstcoin Address: {{ACCOUNT.withdrawWallets | withdrawAddress:'burstcoin'}}</h4>
		<changeaddress></changeaddress>
		<h3>Make a Deposit</h3>
		<h4>ATTENTION: MANUAL WITHDRAWALS</h4>
		<p>In an effort to keep your funds 100% secure during our beta release, we will be processing all withdrawals MANUALLY. Please understand that this means you will experience a delay. We will work to make the delay as short as humanly possible, but we want to manage your expectations. <b>It will take anywhere from 5 minutes to 24 hours to process your withdrawal.</b></p>

		<p>Depositing bitcoin will automatically transfer your balance to BURST using the exchange rate from <a href="http://poloniex.com">Poloniex</a></p>
		<a ng-click="deposit('burstcoin');" class="btn btn-primary btn-deposit-burst">Deposit BURST</a>
		<a ng-click="deposit('bitcoin');" class="btn btn-primary btn-deposit-bitcoin">Deposit Bitcoin</a>

		<div ng-if="depositAddresses.burstcoin" class="deposit-address">
			<h3>BURST Deposit</h3>
			<div class="wordbreak" ng-click="selectText($event);" ng-bind="depositAddresses.burstcoin"></div>
			<a ng-href="burstcoin:{{depositAddresses.burstcoin}}?amount=10000"><h4>Click or scan the QR code</h4>
			<img class="qrcode" ng-src="{{Api.protocol}}{{Api.host}}{{Api.basePath}}qrcode/burstcoin:{{depositAddresses.burstcoin}}%3F?amount=100"/></a>
		</div>


		<div ng-if="depositAddresses.bitcoin" ng-click="selectText($event);" class="deposit-address">
			<h3>Bitcoin Deposit</h3>
			<div class="wordbreak" ng-bind="depositAddresses.bitcoin"></div>
			<a ng-href="bitcoin:{{depositAddresses.bitcoin}}?amount=0.001"><h4>Click or scan the QR code</h4>
			<img class="qrcode" ng-src="{{Api.protocol}}{{Api.host}}{{Api.basePath}}qrcode/bitcoin:{{depositAddresses.bitcoin}}%3F?amount=0.001"/></a>
		</div>

		<div class="margin-20-0">
			<a  ng-click="shapeshift_click(this, $event);" href="#">
				<img src="https://shapeshift.io/images/shifty/large_dark_ss.png" class="ss-button">
			</a>
	    <h4>For Shapeshift, disable the popup blocker!</h4>
		</div>

		<p>If you have a deposit pending, it should be credited as soon as the next block is solved. 1 confirmation is required for bitcoin transactions. 4 confirmations are required for burstcoin transactions.</p>

		<div class="tx-history">
			<div class="tx-history-deposit">
				<h3>Deposit History</h3>
				<table>
					<tr ng-repeat="deposit in deposits">
						<td ng-bind="deposit.createdAt | date"></td>
						<td ng-bind="deposit.burstAmount | cryptovalue"> BURST</td>
					</tr>
				</table>
			</div>
			<div class="tx-history-withdraw">
				<h3>Withdraw History</h3>
				<table>
					<tr ng-repeat="withdraw in withdraws">
						<td ng-bind="withdraw.createdAt | date"></td>
						<td ng-bind="withdraw.satoshi | cryptovalue"> BURST</td>
					</tr>
				</table>
			</div>

	</div>
</div>
