<form name="changePasswordForm"
      ng-submit="changePassword()"
      class="form">
    <h3><%- chagePasswod.header %></h3>
    <div class="form-group">
        <label><%- chagePasswod.old_password %></label>
        <inp type="password" required="true"
               class="form-control"
               ng-model="oldPassword" ></inp>
    </div>
    <div class="form-group">
        <label><%- chagePasswod.new_password %></label>
        <inp type="password" required="true"
               class="form-control"
               ng-model="newPassword" ></inp>
    </div>
    <div class="form-group">
        <label><%- chagePasswod.confirm_password %></label>
        <inp type="password" required="true"
               class="form-control"
               ng-model="confirmPassword" ></inp>
    </div>
    <button class="btn btn-default" type="submit"><%- common.confirm %></button>
</form>
