<h3 class="cursor-pointer">Change Username/Email</h3>
<form name="changeDetailsForm"
      ng-submit="changeDetails()"
      class="form">
    <div class="form-group">
        <label>Public Name</label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="name"></inp>
    </div>           
    <div class="form-group">
        <label>Login Username</label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="username"></inp>
    </div>      
    <div class="form-group">
        <label>Email Address</label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="email"></inp>
    </div>
    <button class="btn btn-default" type="submit"><%- common.confirm %></button>
</form>
