<h3 class="cursor-pointer">Change BURST Address</h3>
<form name="changeAddressForm"
      ng-submit="changeAddress()"
      class="form">
    <div class="form-group">
        <label>New Address</label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="burstcoinaddress"></inp>
    </div>
    <button class="btn btn-default" type="submit"><%- common.confirm %></button>
</form>
