<navbar></navbar>
<div class="game-state overflow-scroll">
	<div class="game-state-block-container">
		<h1>Leaderboard</h1>
		<h2>Top Players, Last 7 Days</h2>
			<table class="leaders">
      <thead>
      <tr>
        <td> Rank </td>
        <td> Player </td>
        <td> Gross Profit </td>
        <td> Net Profit </td>
      </tr>
      </thead>
      <tbody>  
      <tr ng-repeat = "leader in leaderboard track by $index"> 
        <td ng-bind="$index+1"></td>
        <td ng-bind="leader.username"></td>
        <td ng-bind="leader.satoshiWon | cryptovalue"></td>
        <td ng-bind="leader.netProfit | cryptovalue"></td>  
      </tr>

      </tbody></table>		
	</div>
</div>