<form name="loginForm"
      ng-submit="login()"
      class="form info-container">
    <h3>Sign In</h3>
    <div class="form-group">
        <label><%- user.username %></label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="username" autofocus="true" autocomplete="false" autocapitalize="false"></inp>
    </div>
    <div class="form-group">
        <label><%- user.password %></label>
        <inp type="password" required="true"
               class="form-control"
               ng-model="password" ></inp>
    </div>
    <button class="btn btn-default"><%- common.signin %></button>
</form>
