<div class="loading-mask loading-transparent loading-mask-navbar" ng-click="navbarCollapsed=true" ng-show="!navbarCollapsed">
</div>
<nav class="navbar" id="loading-bar-target" ng-click="blurTable(); blurChat();">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <div class="logo-small"><a href="/"><img src="img/logo-nav.png"/></a></div>
    <div class="navbar-space"></div>
    <!-- <a class="hidden-xs btn btn-danger btn-leaderboard"  target="_blank" href="http://madetoburst.com/faq">FAQ</a> -->
    <span class="hidden-xs header-text" ng-bind="serverTime"></span>
    <span class="hidden-xs header-text" ng-bind="clientVersion"></span>
    <a class="hidden-xs header-link" ui-sref="leaderboard">Leaderboard</a>
    <a class="hidden-xs header-link" ui-sref="stats">Stats</a>
    <a class="btn btn-default" ui-sref="game-home" ng-if="$state.current.name !== 'game-home'">PLAY NOW</a>
    <a ng-if="!USER" class="btn btn-secondary" ui-sref="homepage">LOGIN / REGISTER</a>
    <div ng-if="ACCOUNT" class="player-details">
      <a ui-sref="cashier" style="text-decoration:none;"><span class="players-details-username" ng-bind="ACCOUNT.user.name"></span></a>
      <a ui-sref="cashier" style="text-decoration:none;"><span class="players-details-balance">{{ACCOUNT.withdrawWallets | balance:'burstcoin'}} BURST</span></a>
    </div>
    <button type="button"
            class="btn btn-primary navbar-toggle-custom"
            ng-click="navbarCollapsed = !navbarCollapsed">
      <span id="mobile-menu-toggle"><img src="img/icons/menu.png"/></span>
    </button>
  </div>
</nav>
<!-- Collect the nav links, forms, and other content for toggling -->
<div id="navbar-collapse" class="collapse-menu" ng-hide="navbarCollapsed">
  <div ng-if="ACCOUNT" class="player-info player-info-mobile hidden-sm hidden-md hidden-lg">
    <div class="player-name">
      <span><a href="https://gravatar.com" target="_blank"><img gravatar-src="USER.email" gravatar-size="100"></a></span>
      <span class="text" ng-bind="USER.roles.account.name">{{USER.roles.account.name}}</span>
    </div>

  </div>
  <ul class="nav">
    <li uib-dropdown
      ng-repeat="link in navLinks"
      ng-if="!link.hideMenu && (!link.requireUser || USER) && (!link.requireNotUser || !USER)"
      ng-class="{selected: link === activeLink}">
      <a ng-if="link.external" ng-href="{{link.href}}" target="_blank">{{link.title['<%- locale %>']}}</a>
      <a ng-if="link.paths.length === 1 && !link.external" ng-click="navigate(link, link.paths[0])">{{link.title['<%- locale %>']}}</a>

      <a ng-if="link.paths.length > 1 && !link.external" uib-dropdown-toggle>{{link.title['<%- locale %>']}} <span class="caret"></span></a>
      <ul class="dropdown-menu" ng-if="link.paths.length > 1">
        <li class="divider"
            ng-repeat-start="path in link.paths"
            ng-if="!path.requireUser || USER"
            ng-show="!$first"></li>
        <li ng-if="(path.states.length <= 1 || path.single) && (!path.requireUser || USER)"
            ng-click="navigate(link, path)">
          <a>{{path.title['<%- locale %>']}}</a>
        </li>
        <li ng-if="(path.states.length > 1 && !path.single) && (!path.requireUser || USER)"
            class="dropdown-header">
          {{path.title['<%- locale %>']}}
        </li>
        <li ng-repeat="state in path.states"
            ng-if="(!path.requireUser || USER) && (state.subtitle && !path.single)"
            ng-click="navigate(link, path, state)">
          <a>{{state.subtitle['<%- locale %>']}}</a>
        </li>
        <span ng-repeat-end></span>
      </ul>
    </li>
  </ul>
</div><!-- /.navbar-collapse -->
