
<form name="signupForm"
      ng-submit="signup()"
      class="form info-container">
      <h3>Create a New Account</h3>
    <div class="form-group">
        <label><%- user.username %></label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="newUsername"></inp>
    </div>
    <div class="form-group">
        <label><%- user.password %></label>
        <inp type="password" required="true"
               class="form-control"
               ng-model="newPassword"></inp>
    </div>
    <div class="form-group">
        <label><%- user.name %></label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="name"></inp>
    </div>
    <div class="form-group">
        <label><%- user.email %></label>
        <inp type="text" required="true"
               class="form-control"
               ng-model="email"></inp>
    </div>
    <div class="form-group">
        <label><%- user.burstcoin %></label>
        <inp type="text"
               class="form-control"
               ng-model="burstcoin"></inp>
    </div>
    <button class="btn btn-secondary btn-lg">CREATE MY ACCOUNT!</button>
</form>
