<navbar></navbar>
<div class="game-state">
	<div class="game-state-block-container">
		<h1>MadeToBurst Stats</h1>
			<small>Generated &lt; 8 min ago</small> <table class="stats"> <tbody> <tr> <td> <b>Pending Withdraws:</b><br> <small>(withdrawals that require admin to look at)</small> </td> <td>8</td> </tr> <tr> <td> <b>Unterminated Games:</b><br> <small>(games that require admin to look at)</small> </td> <td>8 </td> </tr> <tr> <td></td> <td></td> </tr> <tr> <td><b>Deposits:</b></td> <td>88,888,888,888 bits</td> </tr> <tr> <td><b>Withdrawals:</b></td> <td>-88,888,888,888 bits</td> </tr> <tr> <td class="strong">Net:</td> <td class="strong">8,888,888,888 bits</td> </tr> <tr> <td></td> <td></td> </tr> <tr> <td><b>Total Wagered:</b></td> <td>888,888,888,888 bits</td> </tr> <tr> <td><b>Players won in cashed:</b></td> <td>888,888,888,888 bits <small>( 88.88% )</small></td> </tr> <tr> <td><b>Players won in bonuses:</b></td> <td>8,888,888,888 bits <small>( 8.88% )</small></td> </tr> <tr> <td><b>Players won in total: </b></td> <td>888,888,888,888 bits <small>( 88.88% )</small></td> </tr> <tr> <td class="strong">Our Profit:</td> <td class="strong"> 8,888,888,888 bits <small>( 8.88% )</small> </td> </tr> <tr> <td></td> <td></td> </tr> <tr> <td class="strong">Bankroll:</td> <td class="strong"> 8,888,888,888 bits </td> </tr> <tr> <td class="strong">Max win per game:</td> <td> 88,888,888 bits </td> </tr> <tr> <td></td> <td></td> </tr> <tr> <td><b>Total Users:</b></td> <td>88888</td> </tr> <tr> <td><b>Total Plays:</b></td> <td>888888888</td> </tr> <tr> <td><b>Total Games:</b></td> <td>8888888</td> </tr> </tbody> </table>	
	</div>
</div>
