<html ng-app="app">
    <head>
        <title ng-bind="title"><%- common.title %></title>
        <%- argv.pg === 'true' ? '' : '<base href="/">' %>
        <link rel="manifest" href="img/manifest.json"/>
        <link rel="icon" sizes="192x192" href="img/icon-192.png"/>
        <link rel="icon" sizes="128x128" href="img/icon-128.png"/>
        <link rel="apple-touch-icon" sizes="128x128" href="img/icon-128.png">

        <link rel="apple-touch-icon-precomposed" sizes="128x128" href="img/icon-128.png">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="apple-touch-startup-image" href="img/logo-sm.png"/>           
        <link href="https://fonts.googleapis.com/css?family=Dosis|Nova+Mono" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="vendor/normalize-css/normalize.css"/>        
        <link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/ngtoast/dist/ngToast.min.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/ngtoast/dist/ngToast-animations.min.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/angular-loading-bar/build/loading-bar.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/app.css?v=0.0.13h">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
    </head>
    <body ng-controller="ContainerCtrl" ng-class="bodyClass" class="ng-cloak" ng-cloak>
        <div class="loading-mask" ng-if="GAME.paused">
          <h2>Game paused from the server side. Wait a minute or two...</h2>
          <h6>** If this message won't go away after 5 minutes, contact a system admin.</h6>
        </div>
        <div class="loading-mask" ng-if="multipleSockets">
          <h2>Only log in from one tab or browser, please.</h2>
          <h6>** If this message won't go away after you close other tabs and refresh the page, let an admin know.</h6>
        </div>   
        <div class="loading-mask" ng-if="cashoutAll">
          <h2>All players have been cashed out at the maximum multiplier for this round and the round has ended.</h2>
          <h6>** For more information see our FAQ.</h6>
        </div>              
        <div class="loading-mask" ng-if="!socketConnected || !fontsLoaded">
          <h2>Connecting to Server...</h2>
          <h6>** If this message won't go away after 30 seconds, check your internet connection, or contact a system admin.</h6>
        </div>  
        <div class="loading-mask reload-directive" ng-if="ACCOUNT.game && currentVersion !== ACCOUNT.game.currentVersion">
          <h2>A new version is available. You must refresh the browser, or the site will not work properly.</h2>
          <h3>Sorry for the inconvenience!</h3>
          <h4>You should be able to pick up where you left off, but if you cannot, please file a complaint.</h4>
          <h6>** If this message won't go away, clear your browser cache.</h6>
          <h6>*** If, after clearing your browser cache, this message *still* does not go away, please file a complaint.</h6>
        </div>
        <toast></toast>
        <div class="loading-mask" ng-show="isLoading">
            <div class="loading-logo"><a href="/"><img src="img/logo-sm.png"/></a></div>
            <div class="loading-content"></div>
        </div>
        <div class="loading-mask loading-mask-transparent" ng-show="isLoadingTransparent"></div>
        <div class="loading-mask loading-landscape" ng-show="isLandscape">
            
            <div class="loading-logo"><a href="/"><img src="img/logo-sm.png"/></a></div>
            <div class="loading-content">
                <h4><%-loadingsubtitle%></h4>
                <div class="loading-tip">ROTATE YOUR SCREEN TO PORTRAIT MODE</div>
            </div>
        </div>      
        <div class="loading-mask" ng-show="isLoadingLong">
            
            <div class="loading-logo"><a href="/"><img src="img/logo-sm.png"/></a></div>
            <div class="loading-content">
                <h4><%-loadingsubtitle%></h4>
                <div class="loading-tip">{{loadingTip}}</div>
            </div>
        </div>            
        <div class="loading-mask" ng-show="isConnectionFailed">
           
            <div class="loading-logo"><a href="/"><img src="img/logo-sm.png"/></a></div>
            <div class="loading-content">
                <h4><%-loadingsubtitle%></h4>
                <h4>THE SERVER CANNOT BE REACHED. PLEASE REFRESH THE PAGE. CONTACT US IF IT STILL DOES NOT WORK.</h4>
                </div>
            </div>
        </div>

        <div ui-view id="ng-view" class="container-fluid container-custom"></div>
        <script src="vendor/moment/min/moment-with-locales.min.js"></script>
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="vendor/angular-resource/angular-resource.min.js"></script>
        <script src="vendor/angular-gravatar/build/angular-gravatar.js"></script>
        <script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
        <script src="vendor/ngtoast/dist/ngToast.min.js"></script>
        <script src="vendor/ngstorage/ngStorage.min.js"></script>
        <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="vendor/showdown/dist/showdown.min.js"></script>
        <script src="vendor/socket.io-client/dist/socket.io.js"></script>      
        <script src="vendor/fingerprintjs2/fingerprint2.js"></script>                  
        <script src="vendor/lodash/dist/lodash.min.js"></script>
        <script src="js/app.min.js?v=0.0.13h"></script>
    </body>
</html>
